.preheader{
  width: 100%;
  color: $side-font-color;
  //background-color: red;
  //height: 5px;
  .alert{
    color: $side-font-color;
    text-align: center;
    background-color: $alert_color;
  }
  .notice{
    color: $side-font-color;
    text-align: center;
    background-color: #38AEF0;
  }
}